<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DynamicHeuristicAlgorithm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DynamicHeuristicAlgorithm.Properties.Settings>
            <setting name="MaximalRecursionDepth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="OpenSquaresBonusHeuristic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenSquaresBonusHeuristicWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LargeValuesOnEdgeHeuristic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LargeValuesOnEdgeHeuristicWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NonMonotonicLinesPenaltyHeuristic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NonMonotonicLinesPenaltyHeuristicWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberOfMergesHeuristic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NumberOfMergesHeuristicWeight" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NumberOfRuns" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SaveStatistics" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TicTacToeAutomaticMoves" serializeAs="String">
                <value>False</value>
            </setting>
        </DynamicHeuristicAlgorithm.Properties.Settings>
    </userSettings>
</configuration>